dock-app-web/target/
dock-app-ejb/target/
dock-app/target/
.DS_Store
images/app/glassfish-4.1.1-web.zip
images/app/jre-8u112-linux-x64.tar.gz
images/app/dock-app-1.0-SNAPSHOT.ear
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
*.launch
.classpath
.settings
*.ear
*.war