*
{
  font-family: sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: #888;
}

body
{
  padding: 10px;
}

h1
{
  font-size: 2em;
  background: #fafafa;
  padding: 8px;
  text-align: center;
  color: #003;
}

h2
{
  font-size: 1.8em;
  background: #fafafa;
  padding: 8px;
  text-align: center;
  color: #003;
}

table.editor
{
  margin: auto;
}

table.editor th
{
  background: #59e;
  color: #fff;
  padding: 8px;
}

table.editor td
{
  padding: 8px;
}

table.editor td input[type=text]
{
  background: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  padding: 4px;
  outline-width: 0;
}

table.editor td input[type=text]:focus
{
  color: #000;
  background: #fff;
  border-bottom: 1px solid #ccc;
}

table.editor td .edit-btn
{
  height: 24px;
  width: 24px;
  display: block;
  cursor: pointer;
  background-image: url("../img/pencil.svg");
  background-size: contain;
}

table.editor td .edit-btn:hover
{
  background-image: url("../img/bluepencil.svg");
}

.error
{
  color: #b00;
  text-align: center;
  font-size: .8em;
  padding: 10px 0;
}